.wrapper {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    
  }
  .paras-item {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 15rem;
  }
  p {
    flex-basis: 80%;
    line-height: 1.7;
  }
  @media (max-width: 768px) {
    p {
      flex-basis: 100%;
    }
  }
  .paras-item > div {
    width: 100%;
  }
  .paras-item a {
    background: var(--link-bg-color);
    color: var(--third-color);
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
  }
  @media (max-width: 480px) {
    .wrapper {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
    }
    .paras-item a {
      font-size: 5vw;
      white-space: nowrap;
    }
  }