@import url(./colors.css);
html, body {
    --font-first: 'Roboto', sans-serif;
    --font-second: 'Yanone Kaffeesatz', sans-serif;
    font-family: var(--font-first);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    background: var(--first);
}

body::-webkit-scrollbar {
    display: none;
}

main {
    --navbar-height: 150px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}