a {
    color: var(--third-color);
    text-decoration: none;
    text-transform: uppercase;
  }
  a.bordered {
    border: 2px solid var(--third-color);
    letter-spacing: 3.36px;
    font-weight: bold;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    border-radius: 5px;
    text-decoration: none !important;
  }
  nav {
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    height: 9.37rem;
    background: transparent;
    box-sizing: border-box;
    padding: 2.18rem 4vw;
    color: var(--third-color);
    transition: background 500ms;
    font-family: var(--font-second);
    letter-spacing: 0;
  }
  nav.bg {
    background: transparent;
  }
  .wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    flex-flow: wrap;
  }
  .wrapper div {
    flex-basis: 60%;
  }
  .logo {
    flex-basis: 40% !important;
    display: flex;
    align-items: center;
    gap: 25px;
    gap: 1.8rem;
    animation: fadein 1s;
    min-height: 3.125rem;
  }
  .logo span {
    margin-top: 0.2rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .logo img {
    max-height: 3.6rem;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu a {
    margin: 0 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .menu a:hover {
    text-decoration: underline;
  }
  @media (max-width: 1024px) {
    nav {
      height: 160px;
    }
    .wrapper div,
    .logo {
      flex-basis: 100% !important;
    }
    .logo span {
      font-size: 1.6rem;
    }
    .menu a {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 768px) {
    nav {
      height: max-content;
    }
    .logo img {
      max-height: 3rem;
    }
    .logo span {
      font-size: 1.4rem;
    }
    .menu a {
      font-size: 1rem;
      flex-grow: 1;
      text-align: center;
      padding: 0.5rem;
    }
    .menu {
      margin-top: 2rem;
      flex-flow: wrap;
    }
  }
  @media (max-width: 480px) {
    .logo {
      flex-direction: column;
    }
    .logo span {
      animation: sizeup 300ms;
      min-height: 1.7rem;
    }
  }
  @keyframes sizeup {
    from {
      font-size: 0.1rem;
    }
  }