.about-project {
    max-width: 90vw;
    width: 37.5rem;
    background: var(--fifth-color);
    border-radius: 0.4rem;
    position: relative;
    overflow: hidden;
}
.content-wrapper {
    padding: 1rem;
    max-width: 100%;
    max-height: 80vh;
    overflow-y: hidden;
}
.buttons {
    display: flex;
}
.close-btn {
    background: var(--input-bg-color);
    color: var(--fifth-color);
    border: none;
    outline: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.1rem;
    position: absolute;
    right: 0;
    top: 0;
}
h2,
p {
    cursor: text;
}
.video-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    height: 100%;
}
:global(.video-wrapper iframe),
:global(.video-wrapper video) {
    width: 100%;
    max-width: 100%;
    outline: none;
}
@media (max-width: 480px) {
    :global(.video-wrapper iframe),
    :global(.video-wrapper video) {
        max-height: 80vw;
    }
}