section {
    width: 100%;
    min-height: 80vh;
    color: var(--third-color);
    padding: 0 var(--offset, 150px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}
section::after {
    z-index: 6;
    background: red;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: red;
    position: absolute;
    top: 0;
    content: "";
    background: url(/assets/Hero-Graphic-01.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 37%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2rem;
}
h2 {
    font-size: 2.4rem;
    padding: 0;
    margin: 3rem 0;
}
p,
.wrapper > * {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0;
    font-weight: 100;
    letter-spacing: 1px;
}

.iframe{
    width: 100%;
    height: 450px;
    max-width: 900px;
    margin: 2rem 0;
}

@media (max-width: 1200px) {
    section {
        padding-left: 75px;
        padding-right: 75px;
    }
    section::after {
        background-size: 50%;
    }
}
@media (max-width: 768px) {
    section {
        padding-left: 25px;
        padding-right: 25px;
    }
    section::after {
        background-size: calc(600px - 30vw);
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 10vw;
    }
}